<div class="container" >
  <div class="content">      
    <div id="login">
      <form (ngSubmit)="onSubmit()" #form="ngForm"> 
        <h1>Criar conta</h1> 
        <p> 
          <label for="nome_login">Seu nome</label>
          <input id="nome_login" type="email" name="email" id="email" [(ngModel)]="account.email" placeholder="candidato@vizir.com" required />
        </p>
         
        <p> 
          <label for="email_login">Senha</label> 
          <input id="email_login" type="password" name="password" id="password" [(ngModel)]="account.password" placeholder="*****" required />
        </p>
         
        <p> 
          <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Criar conta</button>
        </p>
         
        <p class="link">
          Já tem conta?
          <button type="button" [routerLink]="['/login']">Login</button>
        </p>
      </form>
    </div>
</div> ''
