<div>
<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
  
  <mat-tab label="Chamadas realizadas">
      <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
          <ng-container *ngFor="let call of calls" style="margin: 0.5%;">
            
              <mat-card class="mat-card-call" fxFlex="0 1 calc(33.3% - 11px)"
              fxFlex.lt-md="0 1 calc(50% - 11px)"
              fxFlex.lt-sm="100%">

                  <mat-card-title class="mat-card-title-call">
                    <div class="row">
                      
                      <p style="font-size: 0.99rem;">
                        Plano Usado: <span>{{call.plan === "" ? "Padrão" : call.plan }}</span>
                      </p>

                      <p>
                        <span id="table" style="font-size: 0.7rem;"> <b> Origem:</b> {{call.origin}}</span>
                        <span id="table" style="font-size: 0.7rem;"> <b>Destino:</b>   {{call.destiny}}</span>
                      </p>
                      

                    </div>

                  </mat-card-title>

                  <mat-card-content fxLayoutAlign="center center">
                    <div>
                      <span id="table" class="atributes">Tarifa <b>sem</b> o plano fale mais: {{ formatter.format(call.default_tariff) }}</span>
                      <span id="table" class="atributes">Tarifa  <b>com</b>  o plano fale mais: {{formatter.format(call.talk_more_tariff)}}</span>
                      <span id="table" class="atributes">Minutos falados: {{call.minutes}} min.</span>                        
                    </div>
                  
                  </mat-card-content>
                </mat-card>

          </ng-container>
      </div>
  </mat-tab>
  <mat-tab label="Nova chamada instantanea"><span>EM BREVE VOCÊ PODERA REALIZAR CHAMADAS EM TEMPO REAL</span></mat-tab>
</mat-tab-group>